header{
    background:#CCCCCC;
    padding:2rem;
    text-align: center;
    Color:#fff
}
footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}
nav{ 
    background: #444;
    padding: 0.5rem;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li a {
color: white;
text-decoration: none;
padding: 0 15px;
}
nav ul li a:hover {
    color: #ff9900;
}
.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}
.main-content {
    flex: 3;
}
article {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
article{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
aside{
    flex: 1;
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

body.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444; 
    margin: 0;
    color: #000000; 

}

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.sales-info{
    flex: 2;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.sales-info h1{
    color: #373f3e; /* teal/green */
}
.sales-info p{
    margin: 1rem 0;
}
.sales-info ul{
    list-style: disc inside;
    margin: 1rem 0;
}
.sales-info .btn-primary{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #0288d1; /* blue button */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}
.sales-info .btn-primary:hover{
    background: #0277bd;
}

.login-container{
    background: #ffffff;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    justify-content: center;
}

.login-container input{
    width: 100%;
    padding: 0.75rem;
    margin: 1rem 0;
    border: 1px solid #232e23;
    border-radius: 4px;
}

.login-container button{
    width: 80%;
    padding: 0.75rem;
    background: #444;  
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover{
    background-color:#6e6e6e;
}

.small-text{
    font-size: 0.8rem;
    margin-top: 10px;
    color: #000000;
}
